# 쯇andas? 游냪游냪
Es una librer칤a de Python que permite manejar datos tabulares, el nombre deriva de *panel datas*, un tipo de tabla que muestra datos sobre mediciones a lo largo del tiempo

|persona | a침o | ingreso | edad |
|--------|-----|---------|------|
| 1 | 2010 | 1300  | 22  |
| 1 | 2011  | 1450  | 23 |
| 2 | 2009  | 2300  | 25  |
| 3 | 2010  | 2600  | 27  |


Cuenta con funciones para leer tablas, analizarlas, seleccionar columnas, realizar limpieza de datos y transformaciones con estos 游뱚.  
Operaciones imprescindibles cuando queremos que la m치quina aprenda de los datos 游땔.

# Comma-separated values
El formato m치s extendido para almacenar datos tabulares es ~~excel~~ .csv, este es un archivo de texto plano cuya primera fila es el encabezado con el nombre de cada columna y las siguientes filas contienen los datos, para nuestra tabla anterior el archivo quedar칤a:

```csv
persona, a침o, ingreso, edad
1, 2010, 1300, 22
1, 2010, 1450, 23
...
```
Esto nos permite almacenar grandes cantidades de datos de forma f치cil y sin que ocupen demasiado espacio, pero no son sencillos de manejar si los tratamos como texto plano.

# Lee_csv
La funci칩n `pandas.read_csv` nos permite leer archivos, esta retorna un objeto de tipo *DataFrame* el cual tiene m칠todos como `head` que nos permite ver las primeras filas de la tabla, por defecto mostrar치 cinco.

In [5]:
import pandas as pd
data = pd.read_csv('./datasets/panel_data.csv')
type(data)

pandas.core.frame.DataFrame

In [8]:
data.head()

   persona   a침o   ingreso   edad
0        1  2010      1300     22
1        1  2010      1450     23
2        2  2009      2300     25
3        3  2010      2600     27
4        3  2011      2500     28

Podemos escoger el n칰mero de filas que nos mostrar치 mandando un entero como argumento

In [9]:
data.head(3)

   persona   a침o   ingreso   edad
0        1  2010      1300     22
1        1  2010      1450     23
2        2  2009      2300     25