# ¿Pandas? 🐼🐼
Es una librería de Python que permite manejar datos tabulares, el nombre deriva de *panel datas*, un tipo de tabla que muestra datos sobre mediciones a lo largo del tiempo

|persona | año | ingreso | edad |
|--------|-----|---------|------|
| 1 | 2010 | 1300  | 22  |
| 1 | 2011  | 1450  | 23 |
| 2 | 2009  | 2300  | 25  |
| 3 | 2010  | 2600  | 27  |


Cuenta con funciones para leer tablas, analizarlas, seleccionar columnas, realizar limpieza de datos y transformaciones con estos 🤯.  
Operaciones imprescindibles cuando queremos que la máquina aprenda de los datos 😉.

# Comma-separated values
El formato más extendido para almacenar datos tabulares es ~~excel~~ .csv, este es un archivo de texto plano cuya primera fila es el encabezado con el nombre de cada columna y las siguientes filas contienen los datos, para nuestra tabla anterior el archivo quedaría:

```csv
persona, año, ingreso, edad
1, 2010, 1300, 22
1, 2010, 1450, 23
...
```
Esto nos permite almacenar grandes cantidades de datos de forma fácil y sin que ocupen demasiado espacio, pero no son sencillos de manejar si los tratamos como texto plano.

# Lee_csv
La función `pandas.read_csv` nos permite leer archivos, esta retorna un objeto de tipo *DataFrame* el cual tiene métodos como `head` que nos permite ver las primeras filas de la tabla, por defecto mostrará cinco.

In [5]:
import pandas as pd
data = pd.read_csv('./datasets/panel_data.csv')
type(data)

pandas.core.frame.DataFrame

In [8]:
data.head()

   persona   año   ingreso   edad
0        1  2010      1300     22
1        1  2010      1450     23
2        2  2009      2300     25
3        3  2010      2600     27
4        3  2011      2500     28

Podemos escoger el número de filas que nos mostrará mandando un entero como argumento

In [9]:
data.head(3)

   persona   año   ingreso   edad
0        1  2010      1300     22
1        1  2010      1450     23
2        2  2009      2300     25